<h3>Agregar <small>{{ nuevo.nombre }}</small></h3>
<hr>
<form (ngSubmit)="agregar()">
    <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nuevo.nombre" />
    <!-- [value]="nuevo.nombre"
               (input)="cambiarNombre($event)" -->

    <input type="number" placeholder="Poder" name="poder" [(ngModel)]="nuevo.poder" />
    <button >
        Agregar
    </button>
</form>